.navbar.transparent.navbar-inverse .navbar-inner {
    background-color: rgba(0,0,0,0.4);
 }

 .navbar-inner {
    background: transparent;
}

 #welcome-section {
    height: 100vh;
    overflow: auto;
}

#projects{
    background-color: red;
}

.card{
    border: 0px !important;
    border-radius: 0rem!important;
}

.dateBorder{
    border: 0px !important;
    border-radius: 0rem!important;
}

#projectWordScript{
    background-color: #ccffcc;
}

#MyAbout{
    background-color: #ffcccc;
}

#projectJokinator9000{
    background-color: #ccccff;
}

#projectAOTS{
    background-color: #ffffcc!important;
}