.navbar.transparent.navbar-inverse .navbar-inner {
    background-color: rgba(0,0,0,0.4);
 }

 .navbar-inner {
    background: transparent;
}

 #welcome-section {
    height: 100vh;
    overflow: auto;
}

#projects{
    background-color: red;
}

.card{
    border: 0px !important;
    border-radius: 0rem!important;
}

.dateBorder{
    border: 0px !important;
    border-radius: 0rem!important;
}

#projectWordScript{
    background-color: #dcfeff;
}

#MyAbout{
    background-color: #dcfeff;
}

#projectJokinator9000{
    background-color: #fff6dc;
}

#projectAOTS{
    background-color: #fff6dc!important;
}

.projectButton{
    background-color: #e0adff!important;
    border-color: #e0adff!important;
}

div.list-group-item{
    border: 0px;
    background-color: #dcfeff;
}